*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    /* border: 1px dashed rgb(223, 214, 214); */
    align-items: center;
    padding: 20px 80px;
    background-color: #1f2937;
    color: #ffff;
}

nav div ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    cursor: pointer;
}

nav div button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

nav div button:hover{
    background-color: blue;
    color: #ffff;
}
